body {
    font-family: Roberto, sans-serif;
    
    
  }

.header,
.footer {
    display: flex;
    background: #1F2937;
    align-items: center;
    color: white;
  }

.footer {
    justify-content: center;
  }

.logo {
    font-size: 24px;
    flex: 1;
      }

ul {
    display: flex;
    list-style: none;
    gap: 16px;
  }

  .container {
    display: flex;
    
  }
  
  .image {
   
    height: 100px;
    width: 200px; 
  }
  
 
 .text {
   display: flex;
   flex-direction: column;
   
 }

 .sign-up {
   
   height: 24px;
   width: 72px;
   
 }


 img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
}

 .container-two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
}
.info {
  max-width: 200px;
}

.container-three {
  background: #E5E7EB;
  padding: 50px 400px;
}