body {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    background: #1F2937;
  }

  ul {
      display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    
  }

.info {
    display: flex;
}
  
  .footer {
    display: flex;
  }
  
  