body {
    font-family: Roberto, sans-serif;
    display: flex;
    flex-direction: column;
    
  }

.header,
.footer {
    display: flex;
    background: #1F2937;
    align-items: center;
    color: white;
  }

.footer {
    justify-content: center;
  }

.logo {
    font-size: 24px;
    flex: 1;
      }

ul {
    display: flex;
    list-style: none;
    gap: 16px;
  }
 img {
   height: 150px;
   width: 300px;
 }
 
.container-one {
  display: flex;
  align-items: flex-start;
}

.image {
  display: flex;
  flex-shrink: 0;
}

.model {
  display: flex;
}

.text {
  flex: 1;
}